.App {
  text-align: center;
}

/* custom class added for CSS flex on 5-23-2020 */
.center {
  display: flex;
  justify-content: center;
}

/* custom class added for Particles component on 5-24-2020 */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}